header 
    nav(class="nav border bg-white")
        a(class="nav-link active" aria-current="page" href="/") Home
        a(class="nav-link" href="/users") Users
        a(class="nav-link" href="/chat") Chat
        a(class="nav-link" href="#" tabindex="-1" aria-disabled="true") Disabled